:root {
    --color-purple: #451952;
    --color-dark-pink: #662549;
    --color-light-pink: #AE445A;
    --color-orange: #F39F5A;
    --color-yellow: #FFD052;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
