:root {
    --color-deep-purple: #451952;
    --color-deep-pink: #662549;
    --color-light-pink: #AE445A;
    --color-light-yellow: #F39F5A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}