.navbarContainer {
    background-color: var(--color-dark-pink);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarList {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbarLink {
    color: white;
    margin: 0 4rem;
    cursor: pointer;
    text-decoration: none;
}

.navbarLink:hover {
    text-decoration: underline;
}